<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ru.agentlab.maia.target" sequenceNumber="98">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.semanticweb.owlapi.feature.feature.group" version="4.0.0.201602051203"/>
<unit id="org.semanticweb.owlapi.feature.source.feature.group" version="4.0.0.201602051203"/>
<repository location="http://agentlab.ru/p2/orbit/org.semanticweb.owlapi/updates/nightly/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.feature.source.feature.group" version="18.0.0.201502021635"/>
<unit id="com.google.guava.feature.feature.group" version="18.0.0.201502021635"/>
<repository location="http://www.agentlab.ru/eclipse/update/com.google.guava/18.0.0.201502021635/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.sf.trove4j.feature.source.feature.group" version="3.0.3.201602051202"/>
<unit id="net.sf.trove4j.feature.feature.group" version="3.0.3.201602051202"/>
<repository location="http://agentlab.ru/p2/orbit/net.sf.trove4j/drops/nightly/3.0.3.201602051202/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.0.I20150603-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="com.google.inject.multibindings.source" version="3.0.0.v201605172100"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.mockito.source" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.objenesis.source" version="1.0.0.v201505121915"/>
<unit id="org.objenesis" version="1.0.0.v201505121915"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
</locations>
<includeBundles>
<plugin id="com.google.guava"/>
<plugin id="com.google.guava.source"/>
<plugin id="com.google.inject"/>
<plugin id="com.google.inject.multibindings"/>
<plugin id="com.google.inject.multibindings.source"/>
<plugin id="com.google.inject.source"/>
<plugin id="com.google.jsr305"/>
<plugin id="com.google.jsr305.source"/>
<plugin id="com.sun.el.source"/>
<plugin id="javax.annotation"/>
<plugin id="javax.annotation.source"/>
<plugin id="javax.inject"/>
<plugin id="javax.inject.source"/>
<plugin id="net.sf.trove4j"/>
<plugin id="net.sf.trove4j.source"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.hamcrest"/>
<plugin id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<plugin id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<plugin id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<plugin id="org.hamcrest.generator"/>
<plugin id="org.hamcrest.generator.source"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.hamcrest.integration.source"/>
<plugin id="org.hamcrest.library"/>
<plugin id="org.hamcrest.library.source"/>
<plugin id="org.hamcrest.text"/>
<plugin id="org.hamcrest.text.source"/>
<plugin id="org.jdom"/>
<plugin id="org.jdom.source"/>
<plugin id="org.junit" version="4.12.0.v201504281640"/>
<plugin id="org.junit.source" version="4.12.0.v201504281640"/>
<plugin id="org.junit.source" version="4.12.0.v201504281640"/>
<plugin id="org.mockito"/>
<plugin id="org.mockito.source"/>
<plugin id="org.objenesis"/>
<plugin id="org.objenesis.source"/>
<plugin id="org.semanticweb.owlapi.api"/>
<plugin id="org.semanticweb.owlapi.api.source"/>
<plugin id="org.semanticweb.owlapi.apibinding"/>
<plugin id="org.semanticweb.owlapi.apibinding.source"/>
<plugin id="org.semanticweb.owlapi.compatibility"/>
<plugin id="org.semanticweb.owlapi.compatibility.source"/>
<plugin id="org.semanticweb.owlapi.contract"/>
<plugin id="org.semanticweb.owlapi.contract.source"/>
<plugin id="org.semanticweb.owlapi.fixers"/>
<plugin id="org.semanticweb.owlapi.fixers.source"/>
<plugin id="org.semanticweb.owlapi.impl"/>
<plugin id="org.semanticweb.owlapi.impl.source"/>
<plugin id="org.semanticweb.owlapi.oboformat"/>
<plugin id="org.semanticweb.owlapi.oboformat.source"/>
<plugin id="org.semanticweb.owlapi.parsers"/>
<plugin id="org.semanticweb.owlapi.parsers.source"/>
<plugin id="org.semanticweb.owlapi.rio"/>
<plugin id="org.semanticweb.owlapi.rio.source"/>
<plugin id="org.semanticweb.owlapi.tools"/>
<plugin id="org.semanticweb.owlapi.tools.source"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.slf4j.api.source"/>
</includeBundles>
</target>
